<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <a href="/Farmaceutico"><img src="/assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                </div>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Menu</li>

                <li class="sidebar-item active ">
                    <a href="/Farmaceutico" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-stack"></i>
                        <span>Tabelas</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="/Clientes">Clientes</a>
                        </li>
                       
                      
                       
                    </ul>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-collection-fill"></i>
                        <span>Componentes</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="/Produtos">Produtos</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/Categoria">Categorias</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="extra-component-toastify.html">Stock</a>
                        </li>
                       
                    </ul>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-grid-1x2-fill"></i>
                        <span>Vendas</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="layout-default.html">Vendas</a>
                        </li>
                        
                    </ul>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-hexagon-fill"></i>
                        <span>Relatório</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="form-element-input.html">Input</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="form-element-input-group.html">Input Group</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="form-element-select.html">Select</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="form-element-radio.html">Radio</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="form-element-checkbox.html">Checkbox</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="form-element-textarea.html">Textarea</a>
                        </li>
                    </ul>
                </li> 
                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-person-fill"></i>
                        <span>Perfil</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="" class='sidebar-link'>
                                <i class="bi bi-person-fill"></i>
                                <span>Conta</span>
                            </a> 
                        </li>
                        <li class="submenu-item ">
                            <a href="/logout" class='sidebar-link'>
                                <i class="bi bi-box-arrow-left"></i>
                                <span>Sair</span>
                            </a> 
                        </li>
                       
                    </ul>
                </li> 
                         
                    </ul>
                </li>
                 

       

            </ul>
        </div>

    </div>
</div>