<div id="newsletter" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="newsletter">
          <p>Subscreva-se a newsletter <strong>FARMAZONE</strong></p>
          <form>
            <input class="input" type="email" placeholder="Enter Your Email">
            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscrever</button>
          </form>
          <ul class="newsletter-follow">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Acerca de nós</h3>
            <p>E-comerce de venda de produtos farmaceuticos</p>
            <ul class="footer-links">
              <li><a href="#"><i class="fa fa-map-marker"></i>1734, Sequele, Cacuaco</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>+990 232 3243</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i>farmazon@email.com</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Categorias</h3>
            <ul class="footer-links">
              <% categoria.slice(0,5).map(c=>{%> 
                <li><a href="#"><%= c.nomeCategoria %> </a></li>
              <% }) %> 
             
            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Informação</h3>
            <ul class="footer-links">
              <li><a href="#">Acerca de nos</a></li>
              <li><a href="#">Registrar-se</a></li>
              <li><a href="#">Produtos</a></li>
              <li><a href="#">Pesquisa</a></li>
          
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Serviços</h3>
            <ul class="footer-links">
              <li><a href="#">E-comerce</a></li>
              <li><a href="#">Venda</a></li>
              <li><a href="#">Medicamentos</a></li>
              <li><a href="#">Farmacia</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->

  <!-- bottom footer -->
  <div id="bottom-footer" class="section">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12 text-center">
       
          <span class="copyright">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos Direitos reservados | <i class="fa fa-heart-o" aria-hidden="true"></i> por <a>FarmZon</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </span>
        </div>
      </div>
        <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/nouislider.min.js"></script>
<script src="/js/jquery.zoom.min.js"></script>
<script src="/js/main.js"></script>
